.container {
   width: 100%;
   margin-left: 15%;
   background-color: rgb(231, 244, 255);
}

.container > .content {
    float: left;
    height: 100%;
    padding: 750px 750px 70px;
    margin: 50px 50px 50px 50px;
    background-color: aquamarine;
}