body{
    font-family: 'nanumsquare';
    margin: 0px;
}

.blog-nav{
    background-color: rgb(51, 51, 51);
    display: flex;
    color: white;
    align-items: center;
    font-size: 15px;
    padding: 30px 100px;
    top: 0px;
}

.menu{
    display: flex;
    margin-left: auto
}

.title{
    padding-left: 50px;
    font-size: 25px;
}
  
.title > a{
    color: white;
}