body{
    font-family: 'nanumsquare';
    margin: 0px;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

li a{
    color: white;
    padding-left: 20px;
    margin: 10px auto;
    font-weight: bold;
}

.blog-profile{
    width: 22%;
    height: 100%;
    text-align: center;
    position: fixed;
    overflow: auto;
    margin: auto;
    padding-top: 7%;
    background-color: rgb(255, 255, 255);
}

.blog-profile img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 16 0;
    object-fit: cover;
}

.blog-profile > .logo svg{
    width: 30px;
    height: 30px;
    padding-top: 10px;
    margin: 15px 13px;
}

.blog-profile > .username{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}

.blog-profile > .nickname{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
}

.blog-profile hr{
    margin-top: 50px;
}

.borad{
    width: 45%;
    text-align: left;
    margin: auto;
    padding-top: 5%;
}

.borad > .borad_list{
    padding-top: 50px;
}

.borad > .borad_list > .board_content {
    font-size: 14px;
}


.borad a{
    color: rgb(38, 146, 255);
    font-size: 25px;
    font-weight: bold;
}

.borad > .borad_list > .board_title{
    padding-bottom: 10px;
}
