
body {
}

.blog-container {
  margin: 0 auto;
  width: 80%;
  border: 1px solid #333;
  padding: 10px 0 30px 0;
  border-radius: 5px;
  margin-bottom : 50px;
}

.form-wrapper {
  width: 40%;
  padding-top: 130px;
  margin: 0 auto;
}

.title-name {
  margin-bottom: 10px;
  font-size: 20px;
}

.title-input {
  width: 747px;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid rgb(171, 171, 171);
  border-radius: 3px;
}

.Button {
  margin-left: 858px;
}

button {
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 40px;
  vertical-align: middle;
}

.submit-btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  font: bold;
  border: none;
  background: rgb(62, 178, 255);
}

.cancel-btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  font: bold;
  border: 1px solid rgb(171, 171, 171);
  background: rgb(255, 255, 255);
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 400px;
}